.github/ export-ignore
.vscode/ export-ignore
brand/ export-ignore
docs/ export-ignore
htmlcov/ export-ignore
scripts/ export-ignore
tests/ export-ignore
.coverage export-ignore
.gitignore export-ignore
TODO.md export-ignore
coverage.xml export-ignore
inepro-prompt.md export-ignore
inepro-registers.csv export-ignore
pyproject.toml export-ignore
requirements_test.txt export-ignore